@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Montserrat:wght@100;300;400;500;700;900&family=Noto+Kufi+Arabic:wght@400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-blue: #0c8899;
    --color-dark-blue: #080911;
    --color-orange: #e15941;
    --color-light-gray: #b7b4b4;
    --color-white: #fbfbf1;
    --color-dark-gray: #383838;
    --color-black: #0a0a0a;
    --container-width-lg: 90%;
    --container-width-md: 90%;
    --container-width-sm: 80%;
    --container-width-very-sm: 50%;
    --transition: 400ms all ease;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark-blue);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


h1 {
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
}

.header .line h1 span {
  font-family: "PP Editorial Old", "PP Neue Montreal";
  font-weight: 500;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
}

a,
p {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

.subtitle p{
  text-align: center;
  color: var(--color-orange);
}

.orange{
  color: var(--color-orange);
}

/* BOTONES  */

.btn {
    font-family: Montserrat, Sans-serif;
    font-size: .9rem;
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 20px;
    transition: var(--transition);
}

.btn a {
    color: var(--color-black);
}


.btn:hover {
    color: white;
    background: none;
    cursor: pointer;
    border: var(--color-white) solid 1px;
}

.btn2 {
    background: transparent;
    color: var(--color-light-gray);
    border: var(--color-dark-gray) solid 1px;
}

.btn2:hover {
    border: 1px solid var(--color-orange);
}

.btn3 {
    background: var(--color-dark-gray);
    color: var(--color-white);
}

.btn3:hover {
    background: var(--color-light-gray);
    border: none;
}

.btn4 {
    background: var(--color-orange);
    color: var(--color-white);
}

.btn5 {
    border-radius: 0;
    background: var(--color-orange);
    color: var(--color-white);
}

.punto {
    background: linear-gradient(45deg, #6facbc 2%, #9d4748 40%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 120%;
}

/* LANDING PAGE  */

.container {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  z-index: -1;
}

.nav {
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 1.25em 1.5em;
  display: flex;
  align-items: center;
  gap: 1.5em;
  will-change: transform;
}

.nav > div {
  flex: 1;
}

.logo h2 {
  text-transform: capitalize;
  font-size:1.5rem;
  font-weight: 500;
  color: var(--color-white);
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1.5em;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 60px;
  height: 40px;
  color: #000;
  background-color: #fff;
  border-radius: 40px;
}

.header {
  width: 100%;
  height: 100%;
  padding-top: 30svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.cta {
  position: absolute;
  left: 50%;
  bottom: 3em;
  transform: translateX(-50%);
  width: 50%;
  height: 60px;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border-radius: 4rem;
  will-change: transform;
}

.cta-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cta-label p {
  color: #000;
}

.cta-icon {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #303030;
  border-radius: 60px;
  will-change: transform;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.block {
  width: 100%;
  height: 100%;
  background: #0d011a;
}

.intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.25rem;
}

#word-1 {
  position: relative;
  left: 1rem;
  padding-right: 0.25rem;
}

.word h1 {
  font-size: 2.5rem;
}

#word-2{
  position: relative;
  left: 1.5rem;
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.spinner-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 1.4px solid #fff;
  border-top-color: rgba(172, 9, 9, 0.125);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.nav {
  transform: translateY(-120%);
}

.cta {
  transform: translateX(-50%) scale(0);
}

.cta-icon {
  transform: scale(0);
}

.line,
.cta-label,
.word,
.count .digit {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.line h1,
.line p,
.cta-label p,
.count .digit h1 {
  position: relative;
  transform: translateY(120%);
  will-change: transform;
  padding-bottom: 1rem;
}

.line h1{
  font-size: 6rem;
   color: transparent;
  background: linear-gradient(145deg, #ffffff, #dcdcdc);
  background-clip: text;
  -webkit-background-clip: text;
  mix-blend-mode: lighten;
  text-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8); /* visualmente decorativo */
}

#word-1 h1 {
  transform: translateY(-120%);
}

#word-2 h1 {
  transform: translateY(120%);
}

.block {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.divider {
  transform: scaleY(0%);
  will-change: transform;
}

.hero-img {
  transform: scale(1.5);
  will-change: transform;
}


/* SECCION CATEGORIAS  */
/* .categories{
  background: url(public/fondo3.png);
  background-size: cover;
}
.categories_container{
  height: 20rem;
  width: var(--container-width-sm);
  margin: 0 auto;
  text-align: center;
  color: var(--color-white);
  display: flex;
  justify-content: center; 
  align-items: center;  
}

.categories_container h2{
  font-size: 1.7rem;
  font-weight: 400;
}

.intro,
.outro {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2em;
  background: var(--color-dark-blue);
}

.hero {
  padding: 0;
}

.intro,
.outro {
  background-color: var(--color-black);
  display: flex;
  align-items: center;
}

.intro h1,
.outro h1 {
  margin-bottom: 0;
}

.card {
  position: relative;
}

.card-inner {
  position: relative;
  will-change: transform;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  gap: 4em;
}

.card-content {
  flex: 3;
}

.card-content h1{
  font-size: 2rem;
  text-align: left;
  padding: 1rem 0;
}

.card-content p{
  font-size: 1.5rem;
}

.card-img {
  flex: 1;
  aspect-ratio: 16 / 9;
  border-radius: 0.75em;
  overflow: hidden;
}

#card-1 .card-inner {
  background-color: #09001f;
}

#card-2 .card-inner {
  background-color: #1f0101;
}

#card-3 .card-inner {
  background-color: #200126;
}

#card-4 .card-inner {
  background-color: #0c012b;
  color: #fff;
} */

.categories{
  padding: 10rem 0;
  background: var(--color-dark-blue);
      width: var(--container-width-md);
margin: 0 auto;
}

.categories__container {
    color: var(--color-white);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.categories__left {
    padding-right: 4rem;
    text-align: left;
}

.categories__left p {
    padding: 1rem 0 3rem;
}

.categories__left h1{
  text-align: left;
}

.category a {
    color: var(--color-white);
}

.categories__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    padding-left: 3rem;
}

.category {
    background-image: url(public/fondo3.png);
    background-size: cover;
    padding: 2rem;
    border-radius: 2rem;
    transition: 400ms all ease;
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    z-index: 1;
}

.category__icon {
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5 {
    margin: 2rem 0 1rem;
    font-size: 1.1rem;
}

.category p {
    font-size: 1rem;
}


/* SECCION PASOS  */

.pasos_section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-dark-blue);
}

.pasos_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 250vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.pasos_header h1 {
  margin: 0;
  color: var(--color-white);
  font-size: 30vw;
  font-weight: lighter;
  letter-spacing: -0.05em;
  line-height: 100%;
}

.pasos_card {
  position: absolute;
  top: 5%;
  left: 100%;
  width: 325px;
  height: 500px;
  background-color: #000;
  border-radius: 1em;
  padding: 0.5em;
  will-change: transform;
  z-index: 2;
}

.pasos_card-img {
  width: 100%;
  height: 100px;
  border-radius: 0.5em;
  overflow: hidden;
}

.pasos_card-content {
  width: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 0.5em;
}

.pasos_card-content h2 {
  font-size: 42px;
  font-weight: lighter;
  letter-spacing: -0.005em;
}

.pasos_card-content p {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: -0.005em;
}


@media (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }

  .nav-links {
    display: none;
  }

  .cta {
    width: 90%;
  }
  .card-inner {
    flex-direction: column;
  }

  .card-img {
    display: none;
  }
}
